<header>
  <div class="container">
    <div class="header-left">
      <%= link_to image_tag("/logo_2.png", {:class =>  "logo"}),"/" %>
    </div>
    <div class="header-right">
      <%= link_to "ログイン",login_path, {:class => "btn login"} %>
      <%= link_to "新規登録",login_path, {:class => "btn signup"} %>
    </div>
  </div>
</header>

<div class="top-wrapper">
  <div class="top-main">
    <div class="copy">
      <p>失敗しない</p>
      <p><span>IFA</span>選びは</p>
      <p>IFAドットコム</p>
    </div>
  </div>
  <div class="top-menu">
    <div class="menu-1">
      <a href="#" class="menu-1-1">IFAを探す</a>
    </div>
    <div class="menu-2">
      <a href="#" class="menu-2-2">みんなの投資相談を見る</a>
    </div>



  </div>
</div>


<footer>

</footer>
